<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <mat-icon class="brand-icon">storefront</mat-icon>
      <span class="brand-title">Marvelous</span>
    </div>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary" class="toolbar">
      <span>Gestão de Fornecedores &amp; Estoque</span>
    </mat-toolbar>
    <div class="content-area">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
